@charset "utf-8";

/* ----- 공통 layout ----- */
/* skip navi */
.skip{position:relative;z-index:99;}
.skip h2{display: block;overflow: hidden;position: absolute;width: 0px;height: 0px;font-size: 1px;line-height: 0;text-indent: -999em;white-space: nowrap;}
.skip a{position: absolute;top: -100px;left: -999px;display:block;height:50px;padding:0 20px;line-height:50px;font-size:16px;text-align:center;background: #31313b;color: white;}
.skip a:focus{top:0;left:0;}
:focus {outline: none;}

/* hidding */
.offscreen{position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;}

/* 공통 너비 layout */
.common-layout{position:relative;width:1180px;margin:0 auto}
.container{position:relative;}
.common-layout:after,
.container:after{content:'';display:block;clear:both;}
.contents-wrap{position: relative;}

/* header */
.top-wrap{text-align: center;height:35px; background: #0770bb;}
.top-wrap .top-left{position:absolute;left:0;top:0px;}
.top-wrap .top-right{position:absolute;right:0;top:0px;}

/* header-top- */
.link-unit{line-height:35px;font-family: 'NotoKrR',sans-serif;font-size:14px;letter-spacing:-0.05em;}
.link-unit:after{content:'';display:block;clear:both;}
.link-unit li{position:relative;float:left;vertical-align:top;}
.link-unit li a{color:#fff;vertical-align: top; padding:0 30px;  display: block;  border-left: 1px solid #398dc9;height:35px;  }
.link-unit li:last-child{ border-right: 1px solid #398dc9;}

.link-unit2{line-height:35px;vertical-align: top;}
.link-unit2:after{content:'';display:block;clear:both;}
.link-unit2 li{position:relative;float:left;vertical-align:top;padding:0 15px;}
.link-unit2 li:last-child{padding-right:0;}
.link-unit2 li:after{content: '';display: inline-block;width: 1px;height: 10px;background: #fff;position: absolute;top: 16px;right:0px;}
.link-unit2 li:last-child:after{content: '';display:none;}
.link-unit2 li a{font-family: 'NotoKrM',sans-serif;font-size:13px;color:#fff;letter-spacing:-0.05em;height:35px;}


/* header-gnb */
.header{position:relative;}
.nav-wrap{position:relative;height:90px;border-bottom:1px solid #eeeeee; background: #fff; }
.nav-wrap .common-layou:after{content:'';display:block;clear:both;}
.gnb-wrap{display:block; position: absolute;top: 0; right: 0;}
.nav-wrap h1{padding-top: 24px; width:350px; }
.nav-wrap h1 a{font-size: 18px; color:#0082b6; font-family: 'NotoKrM',sans-serif; font-weight: normal; display: block; padding-left: 180px; height: 43px;position: relative;padding-top: 11px;}
.nav-wrap h1 a:before{content: '';display: block;width: 1px;height: 20px;background: #0082b6;position: absolute;top: 11px;left:163px;}
.nav-wrap h1 a:after{content: '';display: block;width: 145px;height: 43px;background:url(../img/icon_header.png) left top no-repeat;position: absolute;top: 0px;left:0px;}
.gnb li{float:left;color:#000;font-size:18px;font-family: 'NotoKrM',sans-serif;text-align: center;}
.gnb li:first-child{margin-left:0;}
.gnb li a{display:block;line-height:90px;height:90px;position:relative; width: 150px}
.gnb li a:hover,.gnb li a.active{color:#0770bb}
.gnb li a:hover:after,.gnb li a.active:after{content:'';display:inline-block;position:absolute;left:0;bottom:0;right:0;height:4px;background: #0770bb}


/* container */
.container.full{min-width: 1000px}
.pagetitle-wrap{text-align: center; width: 100%; height: 210px; background: url(../img/title_bg_00.jpg) top center repeat-x;}
.pagetitle-wrap.bg01{background-image: url(../img/title_bg_01.jpg); }
.pagetitle-wrap.bg02{background-image: url(../img/title_bg_02.jpg);}
.pagetitle-wrap.bg03{background-image: url(../img/title_bg_03.jpg);}
.pagetitle-wrap.bg04{background-image: url(../img/title_bg_04.jpg);}
.pagetitle-wrap.bg05{background-image: url(../img/title_bg_05.jpg);}
.contents{ position: relative;width:1180px;margin:100px auto; min-height: 300px;}

/* footer */
.footer{background:#3d4044; position: relative;}
.footer .top-btn{width: 60px; height:60px; background: url(../img/icon_header.png) 0 -100px no-repeat rgba( 61, 64, 68, 0.2 ); border-radius: 60px; position: absolute;top: -90px; right: 0; }
.quicklink-wrap{background:#374257;width: 100%; }
.quicklink{color:#fff;letter-spacing: -0.05em;border-left:1px solid #5f6879}
.quicklink:after{content:'';display:block;clear:both;}
.quicklink li{width:194px;border-right:1px solid #5f6879; display:inline-block;}
.quicklink li a{display:block;height:50px;line-height:50px;position:relative; width: 196px; text-align: center;}


/* copyright */
.copyright-wrap .common-layout{padding-top:30px;padding-bottom:42px;color:#aaa;}
.copyright-btn{margin-bottom: 15px;}
.copyright-btn button{font-family: 'NotoKrR',sans-serif; font-size: 14px; color:#fff;position: relative;padding:0  15px;}
.copyright-btn button:first-child{padding-left: 0;}
.copyright-btn button:after{content: '';display: inline-block;width: 1px;height: 11px;background: #fff;position: absolute;top: 5px;right:0px;}
.copyright-btn button:last-child:after{content: '';display:none;}
.copyright-info{float:left;line-height: 25px; font-size: 14px; color:#aaa;}
.copyright-info .copyright{text-transform: uppercase;}
.footer .footer-logo{width: 131px; height:39px; background: url(../img/icon_header.png) 0 -50px no-repeat; position: absolute; right: 0; top:50px; }


/* ----- 공통 guide ----- */

.text-style01{}

/* color */
.color-style1{color:#0770bb !important}
.color-style2{color:#2ca48f !important}
.color-style3{color:#e3751c !important}
.color-style4{color:#777777 !important}


/* 기본 CSS */
.textR{text-align:right !important;}
.textC{text-align:center !important;}
.textL{text-align:left !important;}

.floatL{float:left !important;}
.floatR{float:right !important;}

.NotoKrL {font-family: 'NotoKrL',sans-serif !important; font-weight: normal;}
.NotoKrDL {font-family: 'NotoKrDL',sans-serif !important; font-weight: normal;}
.NotoKrR {font-family: 'NotoKrR',sans-serif !important; font-weight: normal; }
.NotoKrM {font-family: 'NotoKrM',sans-serif !important; font-weight: normal; }
.NotoKrB {font-family: 'NotoKrB',sans-serif !important;  font-weight: normal;}

.marT7{margin-top: 7px !important}
.marT10{margin-top: 10px !important}
.marT15{margin-top: 15px !important}
.marT20{margin-top: 20px !important}
.marT30{margin-top: 30px !important}
.marT40{margin-top: 40px !important}
.marT50{margin-top: 50px !important}
.marT60{margin-top: 60px !important}
.marT80{margin-top: 80px !important}
.marT100{margin-top: 100px !important}
.marB15{margin-bottom: 15px !important}
.marL5{margin-left: 5px !important}
.marL10{margin-left: 10px !important}
.marL20{margin-left: 20px !important}
.marR0{margin-right: 0px !important}

/* component */
.btn{display:inline-block;border-radius:10px 0 0px 0;min-width:130px;height:45px;font-size:16px;color:#fff;background: #0770bb;font-family: 'NotoKrR';}

/* component */
.btn-m{height:45px;min-width:130px;padding:0 30px;}
.btn-l{height:60px;min-width:180px;padding:0 40px;font-size:18px;}
.btn.color01{background:#0770bb;}/* blue */
.btn.color02{background:#199da3;}/* mint */
.btn.color03{background: #757a85}/* gray */
.btn.default{background: #757a85 !important; cursor: default;}
.btn.print{position:absolute;bottom: -70px; left:0;}

td .btn{min-width:70px;border-radius:2px; height: 40px; font-size: 14px}
td input[type="text"]{width: 92px; padding:0 10px }

/* button group */
.btn-wrap{text-align:center; }
.btn-wrap button{margin-left: 8px; cursor: pointer;}
.btn-wrap button:first-child {margin-left: 0px}


/* text */
.title-style1{font-family: 'NotoKrDL'; font-size: 36px; color: #fff;font-weight: normal;padding-top: 88px;}
.title-style1.tap{padding-top:60px;}
.title-style2{font-family: 'NotoKrM'; font-size: 40px; color: #000;font-weight: normal; margin-bottom: 30px;text-align: center; }
.title-style3{font-family: 'NotoKrM'; font-size: 18px; color: #000;font-weight: normal; }
.title-style4{font-family: 'NotoKrM'; font-size: 20px; color: #000;font-weight: normal; }
.text-style1{font-family: 'NotoKrR'; font-size: 18px; color: #000;font-weight: normal;line-height: 25px; text-align: center; margin-bottom: 60px; letter-spacing: -1.5px}
.text-style2{font-family: 'NotoKrR'; font-size: 16px; color: #333;font-weight: normal;}
.text-style3{font-family: 'NotoKrL'; font-size: 16px; color: #777;font-weight: normal;}
.text-style4{font-family: 'NotoKrL'; font-size: 14px; color: #0770bb;font-weight: normal;}
.text-style5{font-family: 'NotoKrL'; font-size: 14px; color: #777;font-weight: normal; line-height: 20px}


/* contbox */
.etcbox{padding:30px;background:#f3f3f3;text-align: left;}
.etcbox .etcbox-cont{line-height:20px;}
.etcbox .etcbox-title1{position:relative;font-size:20px;margin-bottom:20px;font-family:'NotoKrM',sans-serif;}

/* list-type */
.list-type1{text-align:left;}
.list-type1 > li{padding-left:10px;font-size:16px;position: relative;margin-bottom:7px;color:#333;}
.list-type1 > li:before{content:'';display:inline-block;position:absolute;left:0;top:50%;margin-top:-1px;;width:3px;height:3px;background: url('../img/icon_list.png') left top no-repeat}

.list-type1 li ul{text-align:left;margin-top:7px;padding-bottom:1px;}
.list-type1 li ul li{font-size:16px;position: relative;margin-bottom:6px;color:#777;}


.list-type2{text-align:left;}
.list-type2 li{padding-left:13px;position: relative;margin-bottom:7px;font-size:14px;color:#333;}
.list-type2 li:before{content:'';display:inline-block;position:absolute;left:0;top:50%;margin-top:-2px;width:4px;height:4px;background:#aaa;}

ol.list-type2 li{list-style-position: inside; padding-left: 0}
ol.list-type2 li:before{content:'';display:none}


/* link-type1 */
.active-type1{color:#0770bb;border-bottom:1px solid #0770bb;font-size:inherit;display:inline;vertical-align: top}




/* table */
.table {border-collapse:collapse !important;  table-layout: fixed; width: 100%}
.table th{font-size: 16px; font-family: 'NotoKrR'; font-weight: normal; color: #000000 ; padding: 0 20px ;text-align:center; background-color: #f6f6f6; height: 70px; border-right: 0; border-left: 1px solid #eee; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;} 
.table th:first-child, .table td:first-child{ border-left: 0 }
.table th.line{border-right: 1px solid #ddd;}
.table td{font-size: 16px; font-family: 'NotoKrL'; text-align: center; font-weight: normal; color: #777777;  padding: 0 20px ; border-right: 0; border-left: 1px solid #eee; border-bottom: 1px solid #eee; border-top: 0; background-color:#fff;  height: 60px; word-break: keep-all;}
.table td.line{border-left: 1px solid #eee !important;}

/* table - table-type1 */
.table.table-type1 tbody th{  border-top: 0;border-bottom: 1px solid #eee; letter-spacing: -1px;  }
.table.table-type1 thead th, .table.table-type1 tbody td{padding:0 10px }
.table.table-type1 tbody th:first-child{ border-right: 1px solid #ddd; }
.table.table-type1 thead tr:first-child th{border-top: 2px solid #bbb;}
.table.table-type1 tbody td.acc{font-family: 'NotoKrR'; font-size: 15px; color: #333;font-weight: normal;}
.table.table-type1 tbody td.acc2{font-family: 'NotoKrM'; font-size: 16px; color: #000;font-weight: normal;}

/* table - table-type3 */
.table-type3{border-top:2px solid #bbbbbb;  margin-top: 15px; }
.table-type3 th{width: 200px; border:1px solid #eeeeee;text-align: left;padding-left: 30px;border-right: 0; border-left: 0; background: #fff; height: 60px; }
.table-type3 th .acc{color: #199da3; margin-left:2px; position: relative;top: 4px; }
.table-type3 td{text-align: left; border-left: 0; border-right: 0; border-left: 0;padding: 10px 0; line-height: 25px; font-size: 16px;}
.table-type3.height td{padding: 20px 0; }
.table-type3 .info-text{ font-size: 14px; letter-spacing: -0.5px; margin-top: 8px; line-height: 14px; position: relative; padding-left: 8px; line-height: 16px; }
.table-type3 .info-text span{display: inline-block; margin-right: 3px; position: absolute; top: 3px; left:0;}
.table-type3 .btn{ height: 40px; border-radius: 0; vertical-align: top; font-size: 14px;  font-weight: normal; min-width:88px; position: relative; left: -3px}
.table-type3 input[type=text], .table-type3 input[type=password]{width: 400px;vertical-align: middle; }
.table-type3 #name:disabled{background:#fff; border: 0 ; font-size: 16px; color: #777777; padding: 0; height: 30px;}
.table-type3 .check-list{ margin-top: 30px; }
.table-type3 .check-list:after { display: block; content: ""; }
.table-type3 .check-list li{ float: left; width: 245px; height: 45px}




/* components */
::-webkit-input-placeholder { /* Edge */color:#777; letter-spacing: -1px}
:-ms-input-placeholder { /* Internet Explorer 10-11 */color: #777;letter-spacing: -1px}
::placeholder {color: #777;letter-spacing: -1px}

input[type=text], input[type=password]{line-height:normal; border: 1px solid #ddd; font-size: 14px; font-family: 'NotoKrL'; color: #777; background: #fff; height: 40px; padding: 0 20px}
label.hide{position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; }
input[type=text]:disabled, input[type=password]:disabled{ border: 1px solid #eee; color: #777; background: #f8f8f8; }
input[type=text]:focus, input[type=password]:focus{ outline: none; border: 1px solid #199da3;font-family: 'NotoKrR'; color: #000; }
input[readonly]{border: 1px solid #eee !important; color: #777 !important; background: #f8f8f8 !important;}

.select { position: relative; width: 200px; z-index: 1; height: 40px; font-size: 14px; font-weight:normal;  font-family: 'NotoKrL'; color: #777; display: inline-block;} 
.select label { position: absolute; top: 0px; left: 0px; width: 100%; z-index: -1;line-height:normal; border: 1px solid #ddd;  background: url(../img/icon_components_select_off.png) no-repeat right center #fff; height: 100%; padding: 0 20px; -webkit-appearance: none; -moz-appearance: none;  appearance: none; text-align: left; padding-right:40px; border-radius: 0 ;  vertical-align: middle; line-height:38px;} 
.select select { width: 100%; height: 100%;  line-height: 25px;  font-family: inherit;  font-size: inherit; font-weight:inherit;  border: 0; padding:10px 20px; opacity: 0; filter:alpha(opacity=0);  -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.select.disabled label, .select.disabled:hover label, .select.disabled:focus label{ border-color:#eee; color: #777; background: #f8f8f8; }
.select:hover label, .select:focus label{ outline: none; border-color: #199da3;font-family: 'NotoKrR'; color: #000;background-position: right -40px; background:url(../img/icon_components_select_on.png) no-repeat right center #fff}

.input-email, .input-num, .input-add, .input-rrn{text-align: left;} 
.input-text{color: #333333; font-size: 16px; letter-spacing: 0; display: inline-block; margin:0 4px; }
.input-email .emil{width: 210px !important;}
.input-email select.emil{width: 180px !important; margin-left: 6px;}
.input-num .phoneNum{width: 136px !important;}
.input-add input[type=text]{width: 400px;vertical-align: middle; }
.input-add .btn {height: 40px; border-radius: 0; vertical-align: middle; font-size: 14px;  font-weight: normal; min-width:88px; position: relative; left: -3px}
.input-add .btn.zip{width:115px !important;}
.input-rrn .rrn{width: 193px !important; }


/* checkbox */
.checkbox{position:relative;display: inline-block;vertical-align: middle;margin-right:10px;}
.checkbox input[type=checkbox]{position:absolute;left:0;top:0;}
.checkbox label{display:inline-block;position:relative;padding-left:35px;min-width:25px;min-height:25px;line-height:25px;color:#777;}
.checkbox label:before{content:'';position:absolute;left:0;top:0;display:inline-block;width:25px;height:25px;background:url('../img/icon_component.png') -40px 0px;cursor:pointer;z-index:10;}
.checkbox input[type=checkbox]:checked +label:before{background-position: -40px -40px;}
.checkbox input[type=checkbox]:disabled +label:before{background-position: -40px -80px;}
.checkbox input[type=checkbox]:disabled:checked +label:before{background-position: -40px -120px;}


/* 검색박스 */
.search-box{background: #f8f8f8;padding:30px; margin-bottom: 30px; color: #000 ; font-size: 0;letter-spacing: -5px}
.search-box input[type=text]{vertical-align: bottom; width: 923px;}
.search-box .sizeM{width: 289px !important;}
.search-box .sizeS{width: 146px !important;margin-right: 0px;}
.search-box button{min-width: 85px; height: 40px; border-radius: 2px; vertical-align: bottom;margin-right: 5px;letter-spacing: -1px}
.search-box button:last-child{margin-right: 0px;}
.search-box label p{font-size: 16px; color: #000; font-family: 'NotoKrR'; margin-bottom: 10px;letter-spacing: -1px}
.search-box .select label{letter-spacing: -1px; }
.search-box .select select{vertical-align: bottom;}
.search-box > label{display: inline-block; position: relative;margin-right: 20px; }
.search-box label span.bar{letter-spacing: -1px;display: inline-block; position: relative;top: -16px;color: #000 ; font-size: 16px; margin: 0 5px}
.search-box .cal-btn:after{content: ""; display: block; width: 40px; height: 40px; position: absolute; right:0px; bottom: 0px; background:url(../img/icon_contents.png) no-repeat -80px top #000 ; z-index: 1}
.search-box .block{display: inline-block; vertical-align: bottom; position: relative;top: -11px}
.search-box .block p{display: inline-block;}
.search-box .block .checkbox{position: relative;top: -5px; left: 15px;}



/* board -list */
.board-wrap {min-height: 500px}
.board-list-wrap{position: relative;}
.board-wrap .board-list-wrap .table td.title{text-align:left !important; padding: 0 20px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;  }
.board-wrap .board-list-wrap .table td.title a:hover, .board-wrap .board-list-wrap .table td.title a:focus{text-decoration: underline; cursor: pointer; width: inherit; color:#0770bb }
.board-wrap .file{vertical-align: middle; display: inline-block; width: 30px; height: 14px; background: url(../img/icon_contents.png)  0  -69px no-repeat; position: relative; }

/* board - detail */
.board-wrap .board-con-box .con-main{padding: 50px  20px; border-bottom: 1px solid #dddddd}/* 에디터 적용후 수정요망 */
.board-wrap .board-con-box{ width: 1180px; float: left; }
.board-wrap .board-con-box .con-tit{ height: 100px; background-color:#f6f6f6; vertical-align: middle; color: #000; font-family: 'NotoKrR'; font-size: 18px; line-height: 26px; padding: 0 20px; border-bottom: 1px solid #dddddd; border-top: 2px solid #bbbbbb; display: table-cell; width: 1180px }
.board-wrap .board-con-box .con-file{padding:17px 20px;  line-height:26px;position: relative;border-bottom: 1px solid #eeeeee}
.board-wrap .board-con-box .con-file a{max-width: 900px; display: inline-block;}
.board-wrap .board-con-box .con-file .download{border-radius: 2px; border: 1px solid #aaaaaa; font-size: 13px; color: #777; padding: 5px  10px 5px 25px; vertical-align: middle; margin-left: 10px; position: relative;}
.board-wrap .board-con-box .con-file .download:after{content: ""; display: block; height: 24px; width: 11px; background: url(../img/icon_contents.png)  -30px  -60px no-repeat; position: absolute; top: 2px; left: 9px; }
.board-wrap .board-con-box .con-file .data{position: absolute;right: 20px; top: 24px; color: #777777; font-size: 14px;}
.board-wrap .board-con-box .link{border-bottom: 1px solid #dddddd}
.board-wrap .board-con-box .link.none{border-bottom:0;}
.board-wrap .board-con-box .link > div{padding: 24px 20px ; line-height: 16px; color: #777777; font-size: 14px;}
.board-wrap .board-con-box .link .tit{font-size: 16px; color: #000;  font-family: 'NotoKrR',sans-serif; padding-right: 20px; display: inline-block;position: relative; margin-right: 19px;}
.board-wrap .board-con-box .link .tit:after, .board-wrap .board-con-box .link .file:after{content:'';display:inline-block;position:absolute;right:0;top:50%;margin-top:-5px;width:1px;height:13px;background:#aaa}
.board-wrap .board-con-box .link a{display: inline-block;  line-height: 16px; vertical-align: top; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 900px;}
.board-wrap .board-con-box .link .file{ margin-right: 30px;}
.board-wrap .board-con-box .link .file:after{margin-top:-8px;right:-13px;}
.board-wrap .board-con-box .link .info{display: inline-block; float: right;}
.board-wrap .board-con-box .link .info .data{display: inline-block;}
.board-wrap .board-con-box .link > div:nth-child(2){border-top: 1px solid #eee}



/* paging */
.pager{margin-top: 30px}
.page{ margin:0px auto; text-align:center;clear:both}
.page li, .page a{display: inline-block;border-right: 18px; }
.page span { display: inline-block; border:1px solid #ddd; width:36px; height:36px; font-size: 16px; font-weight: normal; line-height:32px;  text-align:center; color:#777; font-family: 'NotoKrR',sans-serif; border-radius: 18px; margin: 0 1px  }
.page span span{display: inline;border:0; width:auto; height:auto;}
.page span:hover span, .page span:hover, .page span:focus span, .page span:focus{  color: #000 }
.page span:hover, .page span:focus{border-color:#199da3 }/* badge */
.page .active span, .page .active:hover span, .page .active:focus span{ background-color:#199da3; color:#fff;border:0; font-family: 'NotoKrM'; font-weight: normal; font-size: 16px; }
.page a.jump span{cursor:pointer;line-height:3200px;overflow-x:hidden;overflow-y:hidden;background: url(../img/icon_components.png) no-repeat #fff;}
.page a.first span{background-position:  10px 11px; }
.page a.prev span{background-position: -11px 11px;  margin-right: 15px}
.page a.next span{background-position:  -30px 11px; margin-left: 15px}
.page a.last span{background-position: -51px 11px;}


/* tab */
.tab-wrap{position:relative;}
.tab-wrap:after { display: block; content: ""; }
.tablist-type1{width:1180px;display:table;height: 60px; overflow : hidden; white-space:nowrap; letter-spacing: -4px; margin-bottom: 100px;position: absolute; top: -160px;}
.tablist-type1 a{display:table-cell;text-align:center;height:60px;font-size:20px; line-height: 60px;  min-width:196px; letter-spacing: -1px;color:#fff;font-family:'NotoKrL',sans-serif; background: rgba(0,0,0,0.7); }
.tablist-type1 a.active{font-family:'NotoKrM',sans-serif;color:#333333; background: #fff}

.tab-wrap .tabpanel, .tab-wrap .tabpanel-sub{display: none}
.tab-wrap .tabpanel.active, .tab-wrap .tabpanel-sub.active{display: block; outline: none;}


/* info-box */
.info-box > div{border: 3px solid #0770bb; width: 580px; height: 230px; display: inline-block; font-size: 16px; vertical-align: top; color: #777777; line-height: 25px; border-radius: 30px; position: relative;}
.info-box > div.mint{border: 2px solid #199da3}
.info-box > div:first-child{margin-right: 16px;}
.info-box .title{color:#0770bb; font-size: 26px; font-family:'NotoKrM',sans-serif; font-weight: normal; position: absolute; top: 50%; left: 50px; transform: translateY(-50%)  ; }
.info-box .mint .title{ color:#199da3}
.info-box .text{position: absolute; top: 50%; left: 200px; transform: translateY(-50%) }

.info-box.type2 > div{height: 245px; }
.info-box.type2 .text2{color: #333333; font-size: 20px; font-family:'NotoKrM',sans-serif; font-weight: normal; padding-left: 40px; padding-top: 45px;}
.info-box.type2 .title{position: relative; top: 0; left: 0px; transform:none; padding-left: 40px; margin:11px 0 26px  }
.info-box.type2 .text{ padding-left: 40px;position: relative; top: 0; left: 0; transform:none; font-size: 14px;  }


/* contact */
.contact:after{content: ""; display: block; clear: both;}
.contact li{border: 1px solid #dddddd; border-radius:8px; width: 176px; height: 220px; padding-top:30px; text-align: center; float: left; margin-left: 20px ;}
.contact li:nth-child(-n+6) {margin-bottom:20px}
.contact li.nth-child(6n+1){margin-left:0px }
.contact .text-style3{height: 105px; line-height: 20px; vertical-align: middle; display: table-cell;  width: 180px;}
.contact .text-style2{margin-bottom: 10px;}
.contact .text-style2.big{font-size: 20px; margin-top: 50px; }
.contact .tel{ color: #0770bb; font-size: 18px; font-family: 'NotoKrR',sans-serif; }
.contact .pax:after{content: ""; display:block;background: url(../img/icon_contents.png) 0 0 no-repeat; width: 60px; height: 60px;margin:25px auto 21px }


/* login */
.login{ background: #f8f8f8; width: 580px; padding:40px 30px; margin:0 auto   }
.login label{display: block;font-family: 'NotoKrR',sans-serif;color:#000; font-size: 16px;}
.login input[type=text], .login input[type=password]{width: 520px; margin:10px 0 40px; }
.login button{display: block;width: 520px;}


/* delivery */
.step{width: 380px;}
.step li{width: 380px; height: 100px; position: relative; margin-bottom: 20px;border: 2px solid #dddddd; padding:30px }
.step li:after{content: ""; display: block; position: absolute;bottom: -13px; left: 48%; width: 10px;height:5px; background: url(../img/icon_contents.png) -60px -60px no-repeat;}
.step li:last-child:after{content: none;}
.step{font-family: 'NotoKrR',sans-serif;color:#000; font-size: 18px; }
.step span{font-family:'NotoKrM',sans-serif; font-weight: normal; color:#777; font-size: 16px;}
.step span.num{ color: #199da3 }
.step p{margin-top: 10px;}

.delivery{position: absolute;top: 0; right: 0; width: 780px;}
.delivery .box{ background: #f8f8f8; padding:40px; margin-bottom: 20px; height: 220px }
.delivery .botton .box{width: 380px; margin-left: 20px; float: left; height: 340px; }
.delivery .botton .box:first-child{width: 380px; margin-left: 0px;  }
.delivery .box .title-style4{margin-bottom: 30px}
.delivery .list li{display: inline-block; margin-left: 17px;}
.delivery .list li p{ background: #fff; border: 1px solid #eeeeee; font-size: 16px; color: #333; line-height: 25px; width: 220px; height: 85px; display: table-cell;vertical-align: middle; text-align: center;}
.delivery .list li:first-child{ margin-left:0px;}
.delivery .list-type1{line-height: 30px; margin-bottom: 25px;}


/**/

.ui-state-default{text-align: center !important; padding: 7px 5px 5px !important;border: 0 !important; }
.ui-state-disabled{border: 0 !important}
.ui-datepicker-today a{background:#ddd !important; color: #000 !important; border: 0 !important}
.ui-state-active{background:#0770bb!important;}

/* 이용약관 및 개인정보 */
.agree-text {color: #777; letter-spacing: -1px; word-break: keep-all;}
.agree-text h2{font-size: 20px; color: #000; font-family: 'NotoKrM'; font-weight: normal; margin-bottom: 20px; margin-top: 50px}
.agree-text h3{font-size: 16px; color: #333;font-family: 'NotoKrR'; font-weight: normal; margin: 20px 0 10px;}
.agree-text p{ line-height: 25px; font-size: 16px; }
.agree-text ul li{font-size: 16px; color: #777; line-height: 25px;position: relative; margin-bottom: 6px;}
.agree-text ul li span{}
.agree-text ul.type1 li{padding-left: 8px; }
.agree-text ul.type1 li:after{content: ""; display: block; position: absolute; width: 4px; height: 1px; left: 0; top: 12px;  border-color: #777  }
.agree-text ul.type1 ul{margin-top: 5px}
.agree-text ul.type1 ul li{font-size: 14px;margin-bottom: 0px;padding-left: 10px; }
.agree-text ul.type1 ul li:after{width: 2px; height: 2px; left: 4px; top: 12px; background: #b5b5b5  }
.agree-text ul.type2 li{padding-left: 8px; color: #0770bb;}
.agree-text ul.type2 li a{border-bottom: 1px solid #fff; display: inline-block;}
.agree-text ul.type2 li:hover a{border-bottom: 1px solid #0770bb;}
.agree-text ul.type2 li:after{content: ""; display: block; position: absolute; width: 4px; height: 1px; left: 0; top: 15px; background: #0770bb  }
.agree-text ul.type3 > li{padding-left: 20px;}
.agree-text ul.type3 li span{position: absolute;left: 0;}
.agree-text ul.type3 ol{padding-left: 12px; margin-top: 5px;}
.agree-text ul.type3 ol li{font-size: 14px;margin-bottom: 0px; list-style-type:decimal;}

.agree-text .text-top{font-size: 20px; color: #333; font-weight: normal; line-height: 28px; text-align: center;}
.agree-text .text-top span{color:#00b0f0; font-family: 'NotoKrM'; font-weight: normal; }
.agree-text .text-top span:nth-child(2){color:#4fc54b }
.agree-text .text-top span:nth-child(3){color:#e88547 }

.agree-text .text-style2:first-child + h2{margin-top: 30px}
.agree-text ul + .text-style2 {margin-top: 15px}
.agree-text p + ul {margin-top: 10px}
